:root::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}

:root::-webkit-scrollbar-track {
  background: transparent;
}

:root::-webkit-scrollbar-thumb {
  background-color: #553c9a;
  border-radius: 20px;
  border: 3px solid transparent;
}
